include ./mixins/cookie.pug
include ./mixins/modal.pug
include ./mixins/gallery.pug
include ./mixins/artwork.pug

mixin svg(args)
    svg(viewbox=args.viewbox)&attributes(attributes)
        use(xlink:href=`#${args.name}`)

mixin form-row(args)
  .form__row.form__row-input.stacked(class=args.class, )
    if args.textarea
      textarea(placeholder=args.placeholder, name=args.name, class=`form__textarea validate--${args.validate}`, id=args.name, oninput="this.parentNode.dataset.value = this.value")
    else
      input(id=args.name, type="text", placeholder=args.placeholder, name=args.name, class=`validate--${args.validate} form__${args.validate}`, required).form__input
      
    .form__note
    label.form__label(for=args.name)= args.title


mixin close(args)
  a(href="#" class=args.class).close
    //- +svg({name: 'close'})
    span.close__top
    span.close__bottom


mixin logo()
  svg.header__logo-big.logo__svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 215 101', style='enable-background:new 0 0 215 101;', xml:space='preserve')
    //- rect#BG.logo__bg(width='215', height='101')
    rect#whiterect.logo__middle(x='101', width='13', height='101')
    path#X.logo__x(d='M76.7,8.4l-26.3,32l-26.3-32H7.6l34.6,42.1L7.6,92.6H24l26.4-32.1l26.3,32.1h16.5L58.6,50.5L93.2,8.4\
    H76.7z')
    path#G_1_.logo__g(d='M207.9,49.7h-43.6v12h28.6c-2.2,5.7-5.6,10.8-10.7,14.4c-5.2,3.7-11.3,5.6-17.6,5.6\
    c-17,0-30.7-14-30.7-31.1s13.8-31.1,30.7-31.1c12,0,22.8,7.2,27.9,18.3H206c-2.7-8.8-8.1-16.7-15.5-22.2c-7.6-5.8-16.5-8.8-26-8.8\
    c-23.9,0-43.3,19.7-43.3,43.9c0,24.2,19.4,43.9,43.3,43.9c23.9,0,43.3-19.7,43.3-43.9C207.9,50.4,207.9,49.8,207.9,49.7z')
    g#text.logo__text
      path(d='M104.1,90.4V92l2.5,2l-2.5,2v1.6l3.4-2.8l3.4,2.8V96l-2.5-2l2.5-2.1v-1.5l-3.4,2.8L104.1,90.4z')
      path(d='M109.7,87.7h-1.6v-4.2H107v4.2h-1.7v-4.5h-1.2V89h6.7v-5.7h-1.2V87.7z')
      path(d='M104.1,76.6h4.5h0.7l-5.1,3.5v1.5h6.7v-1.3h-4.5h-0.7l5-3.5l0.1-0.1v-1.4h-6.7V76.6z')
      path(d='M110.9,72.4h-6.7v1.3h6.7V72.4z')
      path(d='M108.1,64.6h-3.9v1.3h3.9c1.2,0,1.8,0.6,1.8,1.9s-0.6,1.9-1.8,1.9h-3.9v1.3h3.9c1.9,0,2.9-1.1,2.9-3.1\
      C111,65.7,110,64.6,108.1,64.6z')
      path(d='M110.9,55h-6.7v1.9l5.3,2.2l-5.3,2.1V63h6.7v-1.3h-5l5-2.1v-1.3l-5-2.1h5V55z')
      path(d='M110.9,41.8l-0.9-0.4v-3.7l0.9-0.4v-1.3l-6.7,2.9v1.3l6.7,3V41.8z M108.8,38.1v2.8l-3.2-1.4L108.8,38.1z')
      path(d='M110.9,30.3h-1.2V34h-5.5v1.3h6.7V30.3z')
      path(d='M110.9,17.7h-1.2v4.5h-1.6v-4.2H107v4.2h-1.7v-4.5h-1.2v5.7h6.7V17.7z')
      path(d='M110.9,15.2h-2.2v-2.4c0-0.1,0-0.1,0-0.2l2.2-1.2v-1.3l-2.4,1.3c-0.3-0.8-1-1.3-2-1.3c-1.4,0-2.3,0.9-2.3,2.5v3.6h6.7\
      L110.9,15.2L110.9,15.2z M106.4,11.6c0.8,0,1.2,0.4,1.2,1.4v2.3h-2.3V13C105.3,12,105.7,11.6,106.4,11.6z')
      path(d='M107.4,43L107.4,43l-0.1,3.7h1.2v-2.3c0.4,0.2,0.8,0.4,1,0.8c0.3,0.4,0.4,0.8,0.4,1.3c0,1.3-1.1,2.4-2.4,2.4\
      c-1.3,0-2.4-1.1-2.4-2.4c0-0.9,0.6-1.8,1.4-2.1h0.1v-1.3h-0.1c-0.8,0.3-1.3,0.7-1.8,1.3c-0.5,0.6-0.8,1.3-0.8,2.1\
      c0,1.9,1.6,3.5,3.6,3.5s3.6-1.6,3.6-3.5C111.3,44.6,109.5,43,107.4,43C107.4,43,107.5,43,107.4,43z')
      path(d='M104.1,4.8l2.8,2l-2.8,2v1.5l3.9-2.9h2.9V6.2H108l-3.9-2.9V4.8z')
      path(d='M110.9,30.3h-1.2V34h-5.5v1.3h6.7V30.3z')
      path(d='M110.9,24.4h-1.2v3.7h-5.5v1.3h6.7V24.4z')

  svg.header__logo-small(width='86', height='40', viewbox='0 0 86 40', fill='none', xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_348_790)')
      rect(width='86', height='40', fill='white')
      path(d='M40.3109 0.0134277H0V40.0001H40.3109V0.0134277Z', fill='black')
      path(d='M86 0H45.6891V39.9867H86V0Z', fill='black')
      path(d='M30.6733 3.33228L20.1522 16.0081L9.63437 3.33228H3.03346L16.8534 19.9834L3.02002 36.6545H9.62093L20.1522 23.9621L30.6834 36.6545H37.291L23.4543 19.9834L37.2742 3.33228H30.6733Z', fill='white')
      path(d='M83.3294 19.6801L65.7135 19.6768V24.4252H77.276C76.3825 26.7044 74.9884 28.6971 72.9594 30.11C70.8666 31.5661 68.4076 32.3359 65.8479 32.3359C58.9984 32.3359 53.4288 26.8077 53.4288 20.0167C53.4288 13.2223 59.0018 7.69743 65.8479 7.69743C70.7087 7.69743 75.1026 10.5198 77.1148 14.925H82.5669C81.4885 11.4562 79.2714 8.33055 76.3287 6.13461C73.2819 3.86537 69.6573 2.66577 65.8479 2.66577C56.2035 2.66577 48.3563 10.4498 48.3563 20.0167C48.3563 29.5835 56.2035 37.3675 65.8479 37.3675C75.4923 37.3675 83.3395 29.5835 83.3395 20.0167C83.3395 19.9467 83.3294 19.7234 83.3294 19.6801Z', fill='white')
    defs
      clippath#clip0_348_790
        rect(width='86', height='40', fill='white')


mixin menu-item(args) 
  li.menu__item 
    a.menu__item-link(href=args.href)= args.name 


mixin main-slide-1(args)
  li.main-slider-1__item.swiper-slide 
    .main-slider-1__item-content 
      .main-slider-1__item-author= args.author
      .main-slider-1__item-name
        a(href="artwork.html") !{args.title}
      .main-slider-1__item-description= args.desc
      .main-slider-1__item-button-wrap
        a.main-slider-1__item-button.button(href="artwork.html") Learn more 

mixin main-slide-2(args)
  li.main-slider-2__item.swiper-slide
    a(href="artwork.html").main-slider-2__item-image 
      img(src="/assets/" + args.image, alt="")

mixin main-black-bg-item(args)
  .main-black__bg-item(class="main-black__bg-item--" + args.class)
    //- data-aos="zoom-in", data-aos-delay=args.delay
    img(src="/assets/" + args.image, alt="")

mixin content-slide(args)
  li.content-slider__item.swiper-slide 
    .content-slider__item-image
      img(src="/assets/" + args.image, alt="")

mixin post-teaser(args)

  li.post(class='post--' + args.class)
    //- data-aos='fade-up', data-aos-delay=args.delay
    .post__wrap
      a(href="#").post__link
      .post__bg 
        img(src="/assets/" + args.image, alt="", width=args.width, height=args.height)
      .post__content
        .post__type !{args.type}
        .post__sections= args.sections
        .post__bottom
          .post__address= args.address
          .post__info
            .post__title !{args.title}
            .post__description 
              div Read it to find out about how our gallery was opened
          .post__button
            +button-arrow({class:'right'})
        .post__date= args.date

mixin button-arrow(args)
  a(href="#", class="button button--black button--arrow-" + args.class)
    svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M3.34497 10.207H16.2415', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      path(d='M10.9656 4.93115L16.2414 10.207L10.9656 15.4829', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')


mixin navigation-link(args)
  a(href="" class="navigation__link navigation__link--" + args.class)
    .navigation__name= args.name
    div(class="arrow--" + args.class).navigation__arrow.arrow.arrow--wide
      +svg({name: 'arrow-head'})
    .navigation__desc= args.desc

mixin svg-like()
  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 62 62', style='enable-background:new 0 0 62 62;', xml:space='preserve')
    clipPath(id="icon-like")
      path.icon__fill(d='M31,49l-2.9-2.6C17.8,37.2,11,31.2,11,23.8c0-6,4.8-10.8,11-10.8c3.5,0,6.8,1.6,9,4.1c2.2-2.5,5.5-4.1,9-4.1	c6.2,0,11,4.7,11,10.8c0,7.4-6.8,13.5-17.1,22.6L31,49z')
    path.icon__stroke(d='M31,49l-2.9-2.6C17.8,37.2,11,31.2,11,23.8c0-6,4.8-10.8,11-10.8c3.5,0,6.8,1.6,9,4.1c2.2-2.5,5.5-4.1,9-4.1c6.2,0,11,4.7,11,10.8c0,7.4-6.8,13.5-17.1,22.6L31,49z')



mixin svg-size()
  svg(width='62', height='62', viewbox='0 0 62 62', fill='none', xmlns='http://www.w3.org/2000/svg')
    clipPath(id="icon-size")
      rect.icon__fill(x='10', y='13.4033', width='19.6242', height='51.0865', transform='rotate(-30 10 13.4033)', fill='white')
    rect.icon__stroke(x='10.683', y='13.5868', width='18.6242', height='50.0865', transform='rotate(-30 10.683 13.5868)', stroke='black')
    line.icon__stroke(x1='33.1748', y1='15.433', x2='22.25', y2='21.7405', stroke='black')
    line.icon__stroke(x1='46.0405', y1='37.0736', x2='35.1157', y2='43.3811', stroke='black')
    line.icon__stroke(x1='39.7329', y1='26.1483', x2='33.178', y2='29.9328', stroke='black')


mixin svg-zoom()
  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 62 62', style='enable-background:new 0 0 62 62;', xml:space='preserve')
    clipPath(id="icon-zoom")
      ellipse.icon__fill(cx='31', cy='24', rx='18', ry='18')
    path.icon__stroke(d='M48.5,24c0,9.7-7.8,17.5-17.5,17.5c-9.7,0-17.5-7.9-17.5-17.5c0-9.7,7.8-17.5,17.5-17.5\
    C40.7,6.5,48.5,14.4,48.5,24z')
    line.icon__stroke(x1='37', y1='40.4', x2='45.8', y2='55.7')
    line.icon__stroke(x1='30.7', y1='17.1', x2='30.7', y2='31')
    line.icon__stroke(x1='37.9', y1='23.8', x2='24.1', y2='23.8')

mixin svg-close()
  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 62 62', style='enable-background:new 0 0 62 62;', xml:space='preserve')
    clipPath(id="icon-close")
      ellipse.icon__fill(cx='31', cy='24', rx='18', ry='18')
    path.icon__stroke.icon__stroke--white.icon__stroke--white(d='M48.5,24c0,9.7-7.8,17.5-17.5,17.5c-9.7,0-17.5-7.9-17.5-17.5c0-9.7,7.8-17.5,17.5-17.5\
    C40.7,6.5,48.5,14.4,48.5,24z')
    line.icon__stroke.icon__stroke--white(x1='37', y1='40.4', x2='45.8', y2='55.7')
    //- line.icon__stroke(x1='30.7', y1='17.1', x2='30.7', y2='31')
    //- line.icon__stroke(x1='37.9', y1='23.8', x2='24.1', y2='23.8')
    line.icon__stroke(x1='25.9', y1='19.3', x2='35.7', y2='29.2')
    line.icon__stroke(x1='35.7', y1='19', x2='25.9', y2='28.8')



mixin svg-video()
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 56 56', style='enable-background:new 0 0 56 56;', xml:space='preserve')
    clippath#icon-video
      circle.icon__fill(cx='28', cy='28', r='28')
    circle.icon__stroke(cx='28', cy='28', r='27.5')
    path.icon__stroke(d='M45.2,25.5c1,0,1.8-0.8,1.8-1.8s-0.8-1.8-1.8-1.8c-1,0-1.8,0.8-1.8,1.8S44.2,25.5,45.2,25.5z')
    //- path.icon__front-fill(d='M45.2,25.5c1,0,1.8-0.8,1.8-1.8s-0.8-1.8-1.8-1.8c-1,0-1.8,0.8-1.8,1.8S44.2,25.5,45.2,25.5z M45.2,26.4c1.5,0,2.7-1.2,2.7-2.7S46.7,21,45.2,21c-1.5,0-2.7,1.2-2.7,2.7S43.7,26.4,45.2,26.4z')
    path.icon__front-fill(d='M16.3,27.5l-0.6,0v-0.7c0.5,0,0.9-0.1,1.2-0.2c0.3-0.1,0.7-0.4,1-0.8c0.4-0.4,0.6-0.9,0.6-1.4c0-0.5-0.2-1-0.6-1.4\
    c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6c-0.2,0.2-0.4,0.5-0.5,0.7L14,23.4c0.1-0.4,0.3-0.7,0.6-1c0.5-0.5,1.2-0.8,1.9-0.8\
    c0.8,0,1.4,0.3,1.9,0.8c0.5,0.5,0.8,1.2,0.8,1.9c0,0.8-0.2,1.3-0.6,1.8c-0.4,0.4-0.8,0.7-1.1,0.9c0.8,0.3,1.4,0.7,1.9,1.2\
    c0.7,0.8,1.1,1.7,1.1,2.7c0,1-0.4,1.9-1.1,2.7c-0.7,0.7-1.6,1.1-2.7,1.1c-1,0-1.9-0.4-2.7-1.1c-0.6-0.6-0.9-1.3-1.1-2.1l0.7-0.3\
    c0.1,0.7,0.4,1.3,0.9,1.8c0.6,0.6,1.3,0.9,2.1,0.9c0.8,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.3,0.9-2.2c0-0.8-0.3-1.6-0.9-2.2\
    C18.3,28.1,17.4,27.7,16.3,27.5z')
    path.icon__front-fill(d='M24.1,27.9c-0.7,0.7-1.1,1.6-1.1,2.5c0,1,0.4,1.8,1.1,2.5c0.7,0.7,1.6,1,2.5,1c1,0,1.8-0.3,2.5-1c0.7-0.7,1.1-1.6,1.1-2.5\
    c0-1-0.4-1.8-1.1-2.5c-0.7-0.7-1.6-1.1-2.5-1.1C25.7,26.8,24.8,27.2,24.1,27.9z M23.8,27.1c0.8-0.7,1.7-1,2.8-1\
    c1.2,0,2.2,0.4,3.1,1.3c0.9,0.9,1.3,1.9,1.3,3.1c0,1.2-0.4,2.2-1.3,3.1c-0.8,0.9-1.9,1.3-3.1,1.3c-1.2,0-2.2-0.4-3.1-1.3\
    c-0.8-0.8-1.2-1.8-1.3-2.9h0c0.1-1.9,0.5-3.4,1.3-4.6c0.8-1.2,1.9-2.5,3.1-3.9c0.1-0.1,0.1-0.2,0.2-0.2h1c-0.1,0.1-0.2,0.3-0.3,0.4\
    c-1.4,1.6-2.5,2.9-3.3,4.1C24.1,26.6,24,26.8,23.8,27.1z')
    path.icon__front-fill(d='M40.2,26.2c0-1-0.4-1.8-1.1-2.5c-0.7-0.7-1.6-1.1-2.5-1.1c-1,0-1.8,0.4-2.5,1.1c-0.7,0.7-1.1,1.5-1.1,2.5v4.2\
    c0,1,0.4,1.8,1.1,2.5c0.7,0.7,1.6,1,2.5,1c1,0,1.8-0.3,2.5-1c0.7-0.7,1.1-1.6,1.1-2.5V26.2z M40.9,30.4c0,1.2-0.4,2.2-1.3,3.1\
    c-0.8,0.9-1.9,1.3-3.1,1.3c-1.2,0-2.2-0.4-3.1-1.3c-0.9-0.9-1.3-1.9-1.3-3.1v-4.2c0-1.2,0.4-2.2,1.3-3.1c0.9-0.9,1.9-1.3,3.1-1.3\
    c1.2,0,2.2,0.4,3.1,1.3c0.9,0.9,1.3,1.9,1.3,3.1V30.4z')


mixin svg-instagram()
  svg(width='51', height='51', viewbox='0 0 51 51', fill='none', xmlns='http://www.w3.org/2000/svg')
    clipPath(id="icon-instagram",clipPathUnits="objectBoundingBox")
      rect.icon__fill(x='0', y='0', width='1', height='1')
    rect.icon__stroke(x='0', y='0', width='51', height='51', fill='white', stroke='black')
    circle.icon__stroke(cx='24.7031', cy='26.2969', r='5.9', stroke='black' , stroke-width='12')
    circle.icon__stroke(cx='39.8438', cy='11.1562', r='1.3', stroke='black' , stroke-width='2.6')

mixin svg-twitter()
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 51 51', style='enable-background:new 0 0 51 51;', xml:space='preserve')
    clipPath(id="icon-twitter",clipPathUnits="objectBoundingBox")
      path.icon__fill(d='M0.314,0.89L0.314,0.89c-0.096,0-0.19-0.024-0.275-0.071c0.002,0,0.006,0,0.008,0c0.094,0,0.186-0.031,0.261-0.09	l0.022-0.018H0.302c-0.041,0-0.08-0.014-0.114-0.039C0.161,0.651,0.137,0.624,0.124,0.59c0.027,0.004,0.055,0,0.08-0.006v-0.02	C0.159,0.555,0.12,0.531,0.092,0.496c-0.025-0.031-0.041-0.071-0.043-0.11c0.025,0.012,0.053,0.018,0.082,0.02l0.033,0.002	l-0.029-0.02C0.094,0.361,0.065,0.318,0.053,0.271c-0.01-0.043-0.004-0.09,0.014-0.129C0.118,0.2,0.178,0.249,0.249,0.284	c0.075,0.037,0.155,0.059,0.237,0.063H0.5L0.498,0.335C0.488,0.294,0.492,0.249,0.51,0.21c0.018-0.039,0.047-0.071,0.086-0.092	c0.037-0.02,0.082-0.027,0.124-0.02c0.043,0.008,0.082,0.027,0.112,0.059l0.004,0.004l0.006-0.002	c0.037-0.008,0.075-0.02,0.11-0.037C0.935,0.157,0.908,0.184,0.875,0.204L0.88,0.222c0.029-0.004,0.061-0.01,0.088-0.02	c-0.024,0.029-0.051,0.055-0.08,0.076L0.884,0.282v0.006c0,0.008,0,0.018,0,0.025C0.888,0.584,0.686,0.89,0.314,0.89z')
    
    path.icon__stroke(d='M16,45.4L16,45.4c-4.9,0-9.7-1.2-14-3.6c0.1,0,0.3,0,0.4,0c4.8,0,9.5-1.6,13.3-4.6l1.1-0.9l-1.4,0c-2.1,0-4.1-0.7-5.8-2c-1.4-1.1-2.6-2.5-3.3-4.2c1.4,0.2,2.8,0,4.1-0.3l0-1c-2.3-0.5-4.3-1.7-5.7-3.5c-1.3-1.6-2.1-3.6-2.2-5.6c1.3,0.6,2.7,0.9,4.2,1l1.7,0.1l-1.5-1c-2.1-1.4-3.6-3.6-4.2-6c-0.5-2.2-0.2-4.6,0.7-6.6c2.6,3,5.7,5.5,9.3,7.3c3.8,1.9,7.9,3,12.1,3.2l0.7,0l-0.1-0.6c-0.5-2.1-0.3-4.4,0.6-6.4s2.4-3.6,4.4-4.7c1.9-1,4.2-1.4,6.3-1c2.2,0.4,4.2,1.4,5.7,3l0.2,0.2l0.3-0.1c1.9-0.4,3.8-1,5.6-1.9c-0.8,1.8-2.2,3.2-3.9,4.2l0.3,0.9c1.5-0.2,3.1-0.5,4.5-1c-1.2,1.5-2.6,2.8-4.1,3.9l-0.2,0.2l0,0.3c0,0.4,0,0.9,0,1.3C45.3,29.8,35,45.4,16,45.4z')

mixin svg-facebook()
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 51 51', style='enable-background:new 0 0 51 51;', xml:space='preserve')
    clipPath(id="icon-facebook",clipPathUnits="objectBoundingBox")
      path.icon__fill(d='M0.48,0.686 v0.324 H0.01 v-1 h1 v1 H0.638 V0.686 h0.108 l0.03,-0.138 h-0.118 h0 c-0.01,0,-0.02,0,-0.02,-0.01 V0.48 c0,-0.078,0.058,-0.104,0.088,-0.108 h0.05 v-0.12 c0,-0.004,-0.002,-0.008,-0.006,-0.008 c-0.06,-0.012,-0.126,-0.024,-0.184,-0.004 c-0.076,0.028,-0.102,0.088,-0.104,0.122 v0.186 h-0.128 v0.138 H0.48')
    path.icon__stroke(d='M24,34.3v16.2H0.5v-50h50v50H31.9V34.3h5.4l1.5-6.9h-5.9h0c-0.5,0-1,0-1-0.5V24c0-3.9,2.9-5.2,4.4-5.4h2.5v-6\
    c0-0.2-0.1-0.4-0.3-0.4c-3-0.6-6.3-1.2-9.2-0.2c-3.8,1.4-5.1,4.4-5.2,6.1v9.3h-6.4v6.9H24z')


