include ./mixins/cookie.pug
include ./mixins/modal.pug
include ./mixins/gallery.pug

mixin svg(args)
    svg(viewbox=args.viewbox)&attributes(attributes)
        use(xlink:href=`#${args.name}`)

mixin form-row(args)
  .form__row.form__row-input.stacked(class=args.class, )
    if args.textarea
      textarea(placeholder=args.placeholder, name=args.name, class=`form__textarea validate--${args.validate}`, id=args.name, oninput="this.parentNode.dataset.value = this.value")
    else
      input(id=args.name, type="text", placeholder=args.placeholder, name=args.name, class=`validate--${args.validate} form__${args.validate}`, required).form__input
      
    .form__note
    label.form__label(for=args.name)= args.title


mixin close(args)
  a(href="#" class=args.class).close
    //- +svg({name: 'close'})
    span.close__top
    span.close__bottom


mixin logo()
  svg.header__logo-big(width='215', height='101', viewbox='0 0 215 101', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M207.861 49.7426H164.273V61.7784H192.828C190.645 67.5017 187.201 72.5517 182.162 76.1709C176.955 79.8742 170.908 81.8101 164.609 81.8101C147.645 81.8101 133.871 67.8384 133.871 50.6684C133.871 33.4984 147.645 19.5267 164.609 19.5267C176.619 19.5267 187.453 26.6809 192.492 37.7909H206.014C203.326 29.0376 197.867 21.1259 190.561 15.5709C183.002 9.7634 174.016 6.7334 164.609 6.7334C140.758 6.7334 121.357 26.4284 121.357 50.5842C121.357 74.7401 140.758 94.4351 164.609 94.4351C188.461 94.4351 207.861 74.7401 207.861 50.5842C207.861 50.4159 207.861 49.8267 207.861 49.7426Z', fill='white')
    path(d='M100.781 0H0V101H100.781V0Z', fill='black')
    path(d='M215 0H114.219V101H215V0Z', fill='black')
    path(d='M76.6777 8.4165L50.3906 40.3998L24.1035 8.4165H7.55859L42.1602 50.4998L7.55859 92.5832H24.0195L50.3906 60.5157L76.6777 92.5832H93.2227L58.6211 50.4998L93.2227 8.4165H76.6777Z', fill='white')
    path(d='M207.861 49.7426H164.273V61.7784H192.828C190.645 67.5017 187.201 72.5517 182.162 76.1709C176.955 79.8742 170.908 81.8101 164.609 81.8101C147.645 81.8101 133.871 67.8384 133.871 50.6684C133.871 33.4984 147.645 19.5267 164.609 19.5267C176.619 19.5267 187.453 26.6809 192.492 37.7909H206.014C203.326 29.0376 197.867 21.1259 190.561 15.5709C183.002 9.7634 174.016 6.7334 164.609 6.7334C140.758 6.7334 121.357 26.4284 121.357 50.5842C121.357 74.7401 140.758 94.4351 164.609 94.4351C188.461 94.4351 207.861 74.7401 207.861 50.5842C207.861 50.4159 207.861 49.8267 207.861 49.7426Z', fill='white')
    path(d='M104.141 90.395V91.9942L106.66 94.0142L104.141 96.0342V97.6333L107.5 94.8558L110.859 97.6333V96.0342L108.34 94.0142L110.859 91.91V90.395L107.5 93.1725L104.141 90.395Z', fill='black')
    path(d='M109.684 87.702H108.088V83.4937H106.996V87.702H105.316V83.2412H104.141V88.9645H110.859V83.2412H109.684V87.702Z', fill='black')
    path(d='M104.141 76.5921H108.592H109.264L104.141 80.1271V81.6421H110.859V80.3796H106.408H105.736L110.775 76.8446L110.859 76.7604V75.3296H104.141V76.5921Z', fill='black')
    path(d='M110.859 72.3838H104.141V73.6463H110.859V72.3838Z', fill='black')
    path(d='M108.088 64.5562H104.141V65.8187H108.088C109.264 65.8187 109.852 66.4078 109.852 67.6703C109.852 68.9328 109.264 69.522 108.088 69.522H104.141V70.7845H108.088C110.02 70.7845 111.027 69.6903 111.027 67.6703C111.027 65.6503 110.02 64.5562 108.088 64.5562Z', fill='black')
    path(d='M110.859 55.0454H104.141V56.8971L109.432 59.0854L104.141 61.1896V63.0412H110.859V61.7787H105.82L110.859 59.6746V58.4121L105.82 56.3079H110.859V55.0454Z', fill='black')
    path(d='M110.859 41.8311L109.936 41.4103V37.7069L110.859 37.2861V35.9395L104.141 38.8853V40.1478L110.859 43.1778V41.8311ZM108.844 38.1278V40.9053L105.652 39.4744L108.844 38.1278Z', fill='black')
    path(d='M110.859 30.3003H109.684V34.0036H104.141V35.2661H110.859V30.3003Z', fill='black')
    path(d='M110.859 17.6753H109.684V22.1361H108.088V17.9278H106.996V22.1361H105.316V17.6753H104.141V23.3986H110.859V17.6753Z', fill='black')
    path(d='M110.859 15.2346H108.676V12.8779C108.676 12.7937 108.676 12.7937 108.676 12.7096L110.859 11.5312V10.1846L108.508 11.5312C108.172 10.6896 107.5 10.2687 106.492 10.2687C105.064 10.2687 104.225 11.1946 104.225 12.7937V16.4129H110.943V15.2346H110.859ZM106.408 11.6154C107.248 11.6154 107.584 12.0362 107.584 13.0462V15.3187H105.316V13.0462C105.316 12.0362 105.652 11.6154 106.408 11.6154Z', fill='black')
    path(d='M107.416 43.0093H107.332V46.7126H108.508V44.4401C108.928 44.6084 109.264 44.8609 109.516 45.1976C109.768 45.6184 109.936 46.0393 109.936 46.5443C109.936 47.8909 108.844 48.9009 107.584 48.9009C106.24 48.9009 105.232 47.8068 105.232 46.5443C105.232 45.6184 105.82 44.7768 106.66 44.4401H106.744V43.1776H106.66C105.904 43.4301 105.316 43.8509 104.813 44.4401C104.309 45.0293 104.057 45.7868 104.057 46.5443C104.057 48.4801 105.652 50.0793 107.668 50.0793C109.684 50.0793 111.279 48.4801 111.279 46.5443C111.279 44.6084 109.516 43.0093 107.416 43.0093C107.5 43.0093 107.416 43.0093 107.416 43.0093Z', fill='black')
    path(d='M104.141 4.79771L106.912 6.81771L104.141 8.83771V10.3527L108.004 7.40688H110.859V6.22855H108.004L104.141 3.28271V4.79771Z', fill='black')
    path(d='M110.859 30.3003H109.684V34.0036H104.141V35.2661H110.859V30.3003Z', fill='black')
    path(d='M110.859 24.4087H109.684V28.112H104.141V29.3745H110.859V24.4087Z', fill='black')
  svg.header__logo-small(width='86', height='40', viewbox='0 0 86 40', fill='none', xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#clip0_348_790)')
      rect(width='86', height='40', fill='white')
      path(d='M40.3109 0.0134277H0V40.0001H40.3109V0.0134277Z', fill='black')
      path(d='M86 0H45.6891V39.9867H86V0Z', fill='black')
      path(d='M30.6733 3.33228L20.1522 16.0081L9.63437 3.33228H3.03346L16.8534 19.9834L3.02002 36.6545H9.62093L20.1522 23.9621L30.6834 36.6545H37.291L23.4543 19.9834L37.2742 3.33228H30.6733Z', fill='white')
      path(d='M83.3294 19.6801L65.7135 19.6768V24.4252H77.276C76.3825 26.7044 74.9884 28.6971 72.9594 30.11C70.8666 31.5661 68.4076 32.3359 65.8479 32.3359C58.9984 32.3359 53.4288 26.8077 53.4288 20.0167C53.4288 13.2223 59.0018 7.69743 65.8479 7.69743C70.7087 7.69743 75.1026 10.5198 77.1148 14.925H82.5669C81.4885 11.4562 79.2714 8.33055 76.3287 6.13461C73.2819 3.86537 69.6573 2.66577 65.8479 2.66577C56.2035 2.66577 48.3563 10.4498 48.3563 20.0167C48.3563 29.5835 56.2035 37.3675 65.8479 37.3675C75.4923 37.3675 83.3395 29.5835 83.3395 20.0167C83.3395 19.9467 83.3294 19.7234 83.3294 19.6801Z', fill='white')
    defs
      clippath#clip0_348_790
        rect(width='86', height='40', fill='white')


mixin menu-item(args) 
  li.menu__item 
    a.menu__item-link(href=args.href)= args.name 


mixin main-slide-1(args)
  li.main-slider-1__item.swiper-slide 
    .main-slider-1__item-content 
      .main-slider-1__item-author= args.author
      .main-slider-1__item-name
        a(href="artwork.html") !{args.title}
      .main-slider-1__item-description= args.desc
      .main-slider-1__item-button-wrap
        a.main-slider-1__item-button.button(href="artwork.html") Learn more 

mixin main-slide-2(args)
  li.main-slider-2__item.swiper-slide
    .main-slider-2__item-image 
      img(src="/assets/" + args.image, alt="")

mixin main-black-bg-item(args)
  .main-black__bg-item(class="main-black__bg-item--" + args.class)
    //- data-aos="zoom-in", data-aos-delay=args.delay
    img(src="/assets/" + args.image, alt="")

mixin content-slide(args)
  li.content-slider__item.swiper-slide 
    .content-slider__item-image
      img(src="/assets/" + args.image, alt="")

mixin post-teaser(args)
  li.posts__item(class='posts__item--' + args.class)
    //- data-aos='fade-up', data-aos-delay=args.delay
    a(href="#").posts__item-link
    .posts__item-bg 
      img(src="/assets/" + args.image, alt="")
    .posts__item-type !{args.type}
    .posts__item-sections= args.sections
    .posts__item-bottom
      .posts__item-address= args.address
      .posts__item-title
        a(href="") !{args.title}
      .posts__item-button
        +button-arrow({class:'right'})
    .posts__item-date= args.date

mixin event-teaser(args)
  li.posts__item(class='posts__item--' + args.class)
    a(href="#").posts__item-link
    .posts__item-bg 
      img(src="/assets/" + args.image, alt="")
    .posts__item-type !{args.type}
    .posts__item-sections= args.sections
    .posts__item-bottom
      .posts__item-address= args.address
      .posts__item-title !{args.title}
    .posts__item-date= args.date
    .posts__item-button
      +button-arrow({class:'right'})

mixin button-arrow(args)
  a(href="#", class="button button--arrow-" + args.class)
    svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M3.34497 10.207H16.2415', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
      path(d='M10.9656 4.93115L16.2414 10.207L10.9656 15.4829', stroke='white', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')


mixin navigation-link(args)
  a(href="" class="navigation__link navigation__link--" + args.class)
    .navigation__name= args.name
    div(class="arrow--" + args.class).navigation__arrow.arrow.arrow--wide
      +svg({name: 'arrow-head'})
    .navigation__desc= args.desc

mixin svg-like()
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 42.5 54.1', style='enable-background:new 0 0 42.5 54.1;', xml:space='preserve')
    path#like(d='M21.3,44.9l-2.9-2.6C8.1,33.2,1.3,27.1,1.3,19.7c0-6,4.8-10.8,11-10.8c3.5,0,6.8,1.6,9,4.1\
    c2.2-2.5,5.5-4.1,9-4.1c6.2,0,11,4.7,11,10.8c0,7.4-6.8,13.5-17.1,22.6L21.3,44.9z')


mixin svg-size()
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 42.5 54.1', style='enable-background:new 0 0 42.5 54.1;', xml:space='preserve')
    g
      rect(x='12', y='2', transform='matrix(0.866 -0.5 0.5 0.866 -10.6641 14.2555)', width='18.6', height='50.1')
      line(x1='22.8', y1='12.5', x2='11.9', y2='18.8')
      line(x1='35.7', y1='33.5', x2='24.8', y2='39.8')
      line(x1='29.4', y1='22.6', x2='22.8', y2='26.3')


mixin svg-zoom()
  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 42.5 54.1', style='enable-background:new 0 0 42.5 54.1;', xml:space='preserve')
    g#zoom
      path(d='M38.8,20.1c0,9.7-7.8,17.5-17.5,17.5c-9.7,0-17.5-7.9-17.5-17.5c0-9.7,7.8-17.5,17.5-17.5\
      C30.9,2.5,38.8,10.4,38.8,20.1z')
      line(x1='27.2', y1='36.5', x2='36.1', y2='51.8')
      line(x1='21', y1='13.1', x2='21', y2='27')
      line(x1='28.2', y1='19.8', x2='14.3', y2='19.8')
